* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 90%;
    margin: .2rem auto;
    padding: .5rem;
    background-color: white;
    display: grid;
    grid-template-columns: 1.3fr .4fr 1.3fr;
    grid-template-rows: .8fr .5fr 2.2fr .5fr;
    height: 100vh;
   
    grid-gap: 0.3rem;
    text-align: center;
    grid-template-areas: 
    "header header header"
    "sub-head-1 . sub-head-2"
    "form img-1 preview"
    "footer footer footer";
}

/*grid areas*/

#header {
    grid-area: header;
    margin: 2rem;
}

#sub-head-1 {
    grid-area: sub-head-1;
    margin: 0;
}

#sub-head-2 {
    grid-area: sub-head-2;
}

#img-1 {
    grid-area: img-1;
    font-size: .7rem; 
    margin: auto;
    justify-items: center;
    align-items: center;
}

#preview {
    grid-area: preview;
    font-family:'Playfair Display', serif;
    background-image: url('images-main/Frame 1fullHeart.png');
    background-size: 320px;
    background-repeat: no-repeat;
    background-position: center;
}

#form {
    grid-area: form;
    justify-items: center;
    align-items: center;
    margin: 15px;
}

/*header*/
span {
    padding: 0 40px 0 40px;
}

h1 {
    display: inline;
    margin: .4rem;
}

/*remaining content*/

h2 {
    margin: .2rem .2rem .5rem .2rem;
    font-size: 1.3rem;
}

#img-1 p, #img-2 p, #img-3 p {
    margin: 0.3rem;
}

#img-1 img {
    max-height: 20vh;
    max-width: 7.5vw;
    margin: auto;
    display: block;
}
#img-1 img:hover {
   transform: scale(1.1);  
}


button {
    height:10px;
    width: 10px;
    border-radius: 40%;
    display: inline;
    margin: .5rem 0 .5rem 0;
}

.simple-heart-1 {
    background-color: #EF3939;
    border: 1px #EF3939 solid;
}

.simple-heart-2 {
    background-color: #F9F4EC;
    border: 1px #EF3939 solid;
}

.bauhaus-heart-1 {
    background-color: #EF3939;
    border: 1px black solid;
}

.bauhaus-heart-2 {
    background-color: black;
    border: 1px #EF3939 solid;
}

.rainbow-heart-1 {
    background: linear-gradient(180deg, rgba(255, 186, 186, 0.8) 0%, #C292FF 100%);
    border: 0.395458px solid #000000;
}

.rainbow-heart-2 {
    background: linear-gradient(180deg, #F8B363 0%, #FFBABA 100%);
    border: 0.395458px solid #EF3939;
}

input[type='text'] {
    width: 80%;
    margin: .2rem .2rem 1rem .2rem;
    padding: .3rem;
    border-radius: 8px;
    border-style: solid;
}

input[type='datetime-local'] {
    margin: .2rem .2rem 1rem .2rem;
    padding: .3rem;
    border-radius: 8px;
    border-style: solid;
}

label {
    font-size: 1rem;
}

img {
    width: 100%;
    padding: .2rem;
}

div#preview img {
    max-height: 75vh;
    max-width: 28vw;
    margin: 15px;
}



/*h2 {
    margin: 30px 0 40px 0;
}



div.print-msg {
    text-align: center;
    justify-content: center;
    margin: 20px;
    position: absolute;
    top: 30px;
}

div.print-msg p{
    font-family:'Baumans', cursive;
    font-size: 1rem;
}

section.column-2 img {
    display: block;
    margin: auto;
    width: 80%;
}
*/